@media (max-width: 599px) {
  .app-inner {
    height: calc(100vh - 56px);
  }
  body {
    .sidenav-content-inner {
      height: calc(100vh - 56px);
    }
  }
  .mat-dialog-class {
    width: 100%;
  }
}

