<mat-card-content>
  <form #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)" class="anti-bubble-bug">
    <div fxLayout="column">
      <!--/ Auth Form Fields - Begin-->
      <div class="form-components auth-input-field">
        <mat-form-field>
          <input matInput [(ngModel)]="user.email"  #email="ngModel" name="email" placeholder="E-mail" type="email" required>
          <mat-error>
            asd
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-components auth-input-field">
        <mat-form-field>
          <input matInput [(ngModel)]="user.password" #password="ngModel" name="password" placeholder="Password" type="password" required>
        </mat-form-field>
      </div>
      <div class="form-components auth-input-field">
        <mat-form-field>
          <input matInput [(ngModel)]="user.password_confirmation" #password_confirmation="ngModel" name="password_confirmation" placeholder="Confirm Password" type="password" required>
        </mat-form-field>
      </div>
      <button mat-button type="submit" [disabled]="!userRegistrationForm.valid">Register</button>
      <!--/ Auth Form Fields - End-->
    </div>
  </form>
</mat-card-content>
<mat-card-footer class="auth-actions anti-bubble-bug">
  <div class="text-center ">
    <p>Already have Account? <a routerLink='/auth/login'>Sign In</a></p>
  </div>
</mat-card-footer>
