<div class="auth">
  <div class="auth-content">
    <div class="auth-wrapper">
      <mat-card>
        <mat-card-title class="auth-actions">
          <div class="navbar-brand">
            <img src="/assets/img/ml-logo-unwrap.svg">
          </div>
          <!--<div class="text-center ">-->
          <!--<p>Login Form</p>-->
          <!--</div>-->
        </mat-card-title>
        <router-outlet></router-outlet>
      </mat-card>
    </div>
  </div>
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
