<!--<div class="auth-2">-->
  <!--<div class="auth-wrapper">-->
    <!--<div class="auth-container">-->
      <!--<h1>Welcome</h1>-->

      <!--<router-outlet></router-outlet>-->

      <!--&lt;!&ndash;<form class="form">&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="text" placeholder="Username">&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="password" placeholder="Password">&ndash;&gt;-->
      <!--&lt;!&ndash;<button type="submit" id="login-button">Login</button>&ndash;&gt;-->
      <!--&lt;!&ndash;</form>&ndash;&gt;-->
    <!--</div>-->

    <!--<ul class="bg-bubbles">-->
      <!--<li></li>-->
      <!--<li></li>-->
      <!--<li></li>-->
      <!--<li></li>-->
      <!--<li></li>-->
      <!--<li></li>-->
      <!--<li></li>-->
      <!--<li></li>-->
      <!--<li></li>-->
      <!--<li></li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->




<div class="auth">
  <div class="auth-content">
    <div class="auth-wrapper">
      <mat-card>
        <mat-card-title class="auth-actions">
          <div class="navbar-brand">
            <img src="/assets/img/ml-logo-unwrap.svg">
          </div>
          <!--<div class="text-center ">-->
            <!--<p>Login Form</p>-->
          <!--</div>-->
        </mat-card-title>
        <router-outlet></router-outlet>
      </mat-card>
    </div>
  </div>
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
