<app-action-bar (sidenav)="onSidenavToggle($event)"></app-action-bar>
<mat-sidenav-container class="app-inner mat-drawer-container">
  <mat-sidenav #sidenavEvent mode="side" class="sidebar-panel sidedrawer sidedrawer-left">
    <!--<app-my-drawer [selectedPage]="'Home'"></app-my-drawer>-->
    <app-my-drawer></app-my-drawer>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="sidenav-content-inner">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
