<app-action-bar (sidenav)="onSidenavToggle($event)"></app-action-bar>
<mat-sidenav-container class="app-inner mat-drawer-container">
  <mat-sidenav #sidenavEvent mode="{{media.isActive('gt-sm') ? 'side' : 'over'}}" align="begin" class="sidebar-panel sidedrawer sidedrawer-left">
    <!--<app-my-drawer [selectedPage]="'Home'"></app-my-drawer>-->
    <app-side-bar (sidenav)="onSidenavReToggle($event)"></app-side-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--<mat-progress-bar mode="query" color="warn"></mat-progress-bar>-->
    <div class="sidenav-content-inner">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

